@tailwind base;
@tailwind components;
@tailwind utilities;

.nav-active a.active {
  @apply bg-gray-500 text-white;
}

.sidebar-open {
  animation: slideRight 300ms linear forwards;
}
.sidebar-close {
  animation: slideLeft 300ms linear forwards;
}

@keyframes slideRight {
  0% {
    width: 0;
    opacity: 0;
    background-color: none;
  }
  100% {
    width: 24rem;
    opacity: 1;
    @apply bg-gray-800;
  }
}

@keyframes slideLeft {
  0% {
    width: 24rem;
    opacity: 1;
    @apply bg-gray-800;
  }
  100% {
    width: 0;
    opacity: 0;
    background-color: none;
  }
}
